* {
  margin: 0;
}

.header {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.header__icon {
  width: 18px;
  height: 12px;
  padding: 0 35px 0 19px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__icon-stick {
  width: 18px;
  height: 2px;

  background: rgba(0, 0, 0, 0.54);
}

.header__title {
  width: calc(100% - 4px - 18px - 19px - 4px - 60px);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: rgba(0, 0, 0, 0.87);
}

.header__dots {
  float: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 4px;
  height: 16px;
}

.header__dots-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.54);
}

.main {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 69px;
  margin: 0 auto;
}

.tools {
  width: 228px;
  height: 246px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.tools__tool {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tools__tool-icon {
  width: 20px;
  margin: 0 35px 0 20px;
}

.tools__tool-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.colors {
  width: 228px;
  height: 246px;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.colors__color {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.colors__color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000000;
  margin: 0 35px 0 20px;
}

.current-color {
  background: #c4c4c4;
}

.prev-color {
  background: #41f795;
}

.red {
  background: #f74141;
}

.blue {
  background: #41b6f7;
}

.colors__color-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}

.canvas {
  width: 512px;
  height: 512px;
  background: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.switcher {
  width: 228px;
  height: 246px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.switcher__option {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.active-size {
  background: rgba(0, 0, 0, 0.141327);
}

.active-square {
  background: black;
}

.switcher__option-square {
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  margin: 0 35px 0 20px;
}

.switcher__option-p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
}
